<section class="menu">
  <div class="container">
    <h2 class="menu-title">Cardápio Velours Dorée!</h2>
    <p class="menu-description">Bem-vindo à Velours Dorée, onde cada sabor é uma experiência única. Selecione sua especialidade e aproveite momentos de aconchego e prazer.</p>
    <h3 class="coffee-title">Cafés</h3>

    <div class="card-container">
      <div class="card card-coffee-1">
        <img src="\assets\coffee\01-cafe-velours.png" alt="xicara com cafe velours" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Café Velours</h3>
          <span class="card-price">R$ 22,00</span>
        </div>
        <p class="card-description">Com toque de especiarias</p>
      </div>

      <div class="card card-coffee-2">
        <img src="\assets\coffee\02-cafe-dourado.png" alt="xicara com cafe dourado" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Café Dourado</h3>
          <span class="card-price">R$ 19,00</span>
        </div>
        <p class="card-description">Com mel e creme de leite</p>
      </div>

      <div class="card card-coffee-3">
        <img src="\assets\coffee\03-affogato.png" alt="xicara com café affogato" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Affogato</h3>
          <span class="card-price">R$ 22,00</span>
        </div>
        <p class="card-description">Espresso com sorvete de creme</p>
      </div>

      <div class="card card-coffee-4">
        <img src="\assets\coffee\04-mocha.png" alt="xicara com café Mocha" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Mocha</h3>
          <span class="card-price">R$ 22,00</span>
        </div>
        <p class="card-description">De chocolate</p>
      </div>

      <div class="card card-coffee-5">
        <img src="\assets\coffee\05-macchiato.png" alt="xicara com café Macchiato" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Macchiato</h3>
          <span class="card-price">R$ 22,00</span>
        </div>
        <p class="card-description">Espresso come leite</p>
      </div>

      <div class="card card-coffee-6">
        <img src="\assets\coffee\06-cappuccino-canela.png" alt="xicara com Cappuccino Canela" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Cappuccino Canela</h3>
          <span class="card-price">R$ 14,00</span>
        </div>
        <p class="card-description">Espresso com um toque de canela e leite cremoso</p>
      </div>

      <div class="card card-coffee-7">
        <img src="\assets\coffee\07-caramelo-macchiato.png" alt="xicara com Caramelo Macchiato" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Caramelo Macchiato</h3>
          <span class="card-price">R$ 18,00</span>
        </div>
        <p class="card-description">Essência de baunilha, leite vaporizado e cobertura de caramelo</p>
      </div>

      <div class="card card-coffee-8">
        <img src="\assets\coffee\08-espresso-chantilly.png" alt="xicara espresso com ehantilly" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Espresso com Chantilly</h3>
          <span class="card-price">R$ 12,00</span>
        </div>
        <p class="card-description">Com chantilly caseiro</p>
      </div>

      <div class="card card-coffee-9">
        <img src="\assets\coffee\09-espresso-tradicional.png" alt="xicara espresso tradicional" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Espresso Tradiciona</h3>
          <span class="card-price">R$ 8,00</span>
        </div>
        <p class="card-description">Com pressão 9 bar</p>
      </div>

      <div class="card card-coffee-10">
        <img src="\assets\coffee\10-cappuccino.png" alt="xicara cappuccino" class="card-img">
        <div class="card-content">
          <h3 class="card-title">Cappuccino</h3>
          <span class="card-price">R$ 14,00</span>
        </div>
        <p class="card-description">Espresso, leite vaporizado e espuma</p>
      </div>
    </div>
  </div>
</section>
