.contact {
  background-image: url('/assets/background-contact.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #EADBC8;

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 24%;

    h2 {
      font-family: var(--fonte-principal);
      font-weight: 400;
      font-size: 34px;
      padding-bottom: 32px;
    }

    p {
      font-family: var(--fonte-secundaria);
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 32px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding-bottom: 32px;
      width: 600px;


      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;



        label {
          font-family: var(--fonte-secundaria);
          font-size: 14px;
        }

        input {
          background-color: transparent;
          padding: 8px;
          border: 1px solid #C9A74D;
          border-radius: 4px;
          font-family: var(--fonte-secundaria);
          color: var( --cor-marron-claro);
          font-size: 12px;

          &::placeholder {
            color: rgba(208, 175, 133, 0.5);
          }

          &:focus,
          &:active {
            outline: none;
            border: 3px double #d3b664;
            border-radius: 4px;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;

        .group {
          display: flex;
          flex-direction: column;
          width: 50%;
        }
      }

      #message {
        background-color: transparent;
        padding: 8px;
        border: 1px solid #C9A74D;
        border-radius: 4px;
        min-height: 148px;
        font-family: var(--fonte-secundaria);
        text-align: justify;
        color: var( --cor-marron-claro);
        font-size: 12px;
        line-height: 20px;

        &::placeholder {
          color: rgba(208, 175, 133, 0.5);
        }

        &:focus,
        &:active {
          outline: none;
          border: 3px double #d3b664;
          border-radius: 4px;
          }
      }

      .button {
        display: flex;
        justify-content: flex-end;

        button {
          font-family: var(--fonte-secundaria);
          font-weight: 500;
          font-size: 13px;
          background-color: #C9A74D;
          border: none;
          border-radius: 4px;
          padding: 8px;
          cursor: pointer;
          margin-top: 16px;
          width: 164px;
        }
      }
    }

    .data {
      font-family: var(--fonte-secundaria);
      font-weight: 300;
      font-size: 10px;
      width: 32%;
      text-align: center;
      margin-top: 32px;
    }
  }
}
