<section class="menu">
  <div class="container">
    <h2 class="menu-title">Cardápio Velours Dorée!</h2>
    <p class="menu-description">Bem-vindo à Velours Dorée, onde cada sabor é uma experiência única. Selecione sua especialidade e aproveite momentos de aconchego e prazer.</p>

    <div class="container-menu container-cakes-sweets">
        <h3 class="card-menu-title">Bolos e Doces</h3>
        <div class="card-container card-container-cakes-sweets">
          <div class="card">
            <img src="\assets\cakes-sweets\01-bolo-chocolate-cafe.png" alt="bolo de chocolate e cafe" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Bolo de chocolate e café</h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">Com recheio especial do Velours Dorée</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\02-Bolo-chocolat.png" alt="Bolo de chocolate" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Bolo de chocolate</h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">O mais desejado</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\03-bolo-red-velvet.png" alt="Bolo Red Velvet" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Bolo Red Velvet</h3>
              <span class="card-price">R$ 15,00</span>
            </div>
            <p class="card-description">Com butter cream</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\04-bolo-cenoura.png" alt="Bolo de Cenoura " class="card-img">
            <div class="card-content">
              <h3 class="card-title">Bolo de Cenoura </h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">Com chocolate</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\05-bolo-coco-gelado.png" alt="Bolo de Coco Gelado" class="card-img">
            <div class="card-content">
              <h3 class="card-title">olo de Coco Gelado</h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">Com calda de leite de coco</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\06-macarons-sortidos.png" alt="Macarons Sortidos" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Macarons Sortidos</h3>
              <span class="card-price">R$ 10,00</span>
            </div>
            <p class="card-description">Deliciosos lanche francês</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\07-brownie.png" alt="Brownie de Chocolate Meio Amargo" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Brownie</h3>
              <span class="card-price">R$ 9,50</span>
            </div>
            <p class="card-description">Com chocolate Meio Amargo</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\08-tortelete-limao.png" alt="Tortelete de Limão" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Tortelete de Limão</h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">Recheado com creme e fatias de limão e hortelã</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\09-eclair-cafe.png" alt="Éclair de Café" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Éclair de Café</h3>
              <span class="card-price">R$ 12,00</span>
            </div>
            <p class="card-description">Com doce de café</p>
          </div>

          <div class="card">
            <img src="\assets\cakes-sweets\10-tiramisu.png" alt="Tiramisu Artesanal" class="card-img">
            <div class="card-content">
              <h3 class="card-title">Tiramisu Artesanal</h3>
              <span class="card-price">R$ 17,00</span>
            </div>
            <p class="card-description">Deliciosa sobremesa Itáliana</p>
          </div>
        </div>
    </div>

    <div class="container-menu container-savory">
      <h3 class="card-menu-title">Salgados</h3>
      <div class="card-container card-container-savory">
        <div class="card">
          <img src="\assets\savory\01-empanada-frango.png" alt="Empanada de Frango" class="card-img">
          <div class="card-content">
            <h3 class="card-title">Empanada de Frango</h3>
            <span class="card-price">R$ 10,00</span>
          </div>
          <p class="card-description">Espresso, leite vaporizado e espuma</p>
        </div>

        <div class="card">
          <img src="\assets\coffee\06-cappuccino-canela.png" alt="xicara com Cappuccino Canela" class="card-img">
          <div class="card-content">
            <h3 class="card-title">Cappuccino Canela</h3>
            <span class="card-price">R$ 14,00</span>
          </div>
          <p class="card-description">Espresso com um toque de canela e leite cremoso</p>
        </div>

        <div class="card">
          <img src="\assets\coffee\07-caramelo-macchiato.png" alt="xicara com Caramelo Macchiato" class="card-img">
          <div class="card-content">
            <h3 class="card-title">Caramelo Macchiato</h3>
            <span class="card-price">R$ 18,00</span>
          </div>
          <p class="card-description">Essência de baunilha, leite vaporizado e cobertura de caramelo</p>
        </div>

        <div class="card">
          <img src="\assets\coffee\08-espresso-chantilly.png" alt="xicara espresso com ehantilly" class="card-img">
          <div class="card-content">
            <h3 class="card-title">Espresso com Chantilly</h3>
            <span class="card-price">R$ 12,00</span>
          </div>
          <p class="card-description">Com chantilly caseiro</p>
        </div>

        <div class="card">
          <img src="\assets\coffee\09-espresso-tradicional.png" alt="xicara espresso tradicional" class="card-img">
          <div class="card-content">
            <h3 class="card-title">Espresso Tradiciona</h3>
            <span class="card-price">R$ 8,00</span>
          </div>
          <p class="card-description">Com pressão 9 bar</p>
        </div>
      </div>
    </div>
  </div>
</section>
