<header>
  <img class="logo" src="/assets/logo-velours-doree.png" alt="logo velours doree">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Início</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Sobre</a></li>
      <li><a routerLink="/coffee" routerLinkActive="active">Cafés</a></li>
      <li><a routerLink="/menu" routerLinkActive="active">Cardápio</a></li>
      <li><a routerLink="/reserve" routerLinkActive="active">Reserva</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contato</a></li>
    </ul>
  </nav>
</header>

