<section class="reserve">
  <div class="reserve-container">
    <h1>Garanta seu lugar em uma experiência inesquecível!
    </h1>
    <h4>Faça agora sua reserva e prepare-se para momentos de sabor e sofisticação.
      Não deixe para depois, reserve já!
    </h4>
    <div class="reserve-content">
      <div class="content">
        <img src="assets/icon-phone.png" alt="icone telefone">
        <p>( 61 ) 3333-3737</p>
      </div>
      <img src="assets/icon-line.png" alt="um linha vertical">
      <div class="content">
        <img src="assets/icon-whatsapp-reserve.png" alt="icone whatsapp">
        <p>( 61 ) 99999-3737</p>
      </div>
    </div>
  </div>
</section>
