<section class="about">
  <p>
    No coração de uma charmosa cidade, nasceu a Velours Dorée, um refúgio acolhedor para aqueles que apreciam o prazer de um bom café e a beleza dos encontros inesquecíveis. Inspirada nos antigos cafés parisienses e na suavidade do veludo dourado, nossa cafeteria surgiu do desejo de criar um espaço onde o tempo desacelera e cada xícara conta uma história.
    <br><br>
    Tudo começou com uma paixão por aromas intensos e memórias aconchegantes. Queríamos mais do que apenas servir café; queríamos oferecer uma experiência única. Assim, entre móveis clássicos, luzes suaves e o som delicado de uma música nostálgica, a Velours Dorée se tornou um lugar onde amigos se encontram, casais compartilham momentos e famílias criam tradições.
    <br><br>
    Cada detalhe foi pensado para trazer calor e elegância, desde os grãos selecionados até a escolha do ambiente vintage que convida você a se perder no tempo. Aqui, cada visita é um convite para relaxar, apreciar e viver momentos que ficarão guardados na memória.
  </p>
  <h4>
    Seja bem-vindo à Velours Dorée, onde o café é um ritual, o ambiente é um abraço e cada instante merece ser celebrado.
  </h4>
</section>
