<section class="home">
  <div class="home-content">
    <h1>Velours Dorée</h1>
    <p>Um refúgio acolhedor, onde cada xícara de café conta uma história e cada encontro se torna uma lembrança especial. Inspirado na elegância do passado, nosso espaço combina charme vintage, aromas irresistíveis e um ambiente perfeito para momentos inesquecíveis.</p>
    <h4>Sinta o aconchego, desfrute do sabor e deixe-se envolver pela experiência única da Velours Dorée.</h4>
    <button class="btn btn-instagram" routerLink="">
      <img src="/assets/icon-instagram.png" alt="botão icone do instagram" width="24px">
    </button>
    <button class="btn btn-facebook" routerLink="">
      <img src="/assets/icon-facebook.png" alt="botão icone do facebook" width="24px">
    </button>
    <button class="btn btn-whatsapp" routerLink="">
      <img src="/assets/icon-whatsapp.png" alt="botão icone do whatsapp" width="24px">
    </button>
  </div>
</section>
